

body.zipiopen > * {
  display: none !important;
}

body.zipiopen > #zipi-chatbox {
  display: block !important;
}

#zipi-chatbox {
  position: fixed;
  right: 30px;
  bottom: 35px !important;
  overflow: visible;
  z-index: 1;
  visibility: visible;
}

.popup_panel .col.s2 {
  width: 12%;
}

.popup_panel .col.s10 {
  width: 88%;
}

.popup_panel {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 55px;
  width: 300px;
  max-height: 100%;
  background-color: transparent;
}

.popup_panel .row .col {
  float: right;
}

.popup_block {
  position: relative;
  background-color: transparent;
  max-width: 75%;
}

.popup_panel .avatar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 30px;
}

.popup_panel .row {
  margin-bottom: 0px;
}

.popup_panel .message_container {
  margin: 5px;
  padding: 15px 10px;
  border-radius: 10px;
}

.message_popup {
  top: -60px;
  right: 5px;
  position: absolute;
  opacity: 1;
  background-color: white;
  z-index: 30;
  width: 200px;
  padding: 5px;
  font-size: 14px;
  line-height: 1.4;
  border-width: 2px !important;
  border-style: solid;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border-color: #333333;
  border-radius: 10px;
}

.popup_visitor {
  bottom: 40px;
  right: 38px;
  position: absolute;
  opacity: 1;
  background-color: transparent;
  color: red;
  z-index: 1;
}

.popup_visitor i {
  font-size: 15px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  padding: 0 0.1rem;
  z-index: 1;
}

#zipi-chatbox #floatbutton .opened {
  transition: all 0.5s linear;
  width: 100%;
  height: 100%;
  background-image: url('static/rupee.png');
  background-size: 50px;
  border-radius: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  position: absolute;
  /*background-color: #333333;*/
  transition-duration: 0.3s;
  opacity: 1;
}

#zipi-chatbox #floatbutton .opened.rotate {
  -webkit-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  opacity: 0;
}

#zipi-chatbox #popup_wrapper.rotate {
  -webkit-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  opacity: 0;
}

#zipi-chatbox #floatbutton .closed {
  position: absolute;
  border-radius: 22px;
  transition: all 0.5s linear;
  width: 50%;
  height: 100%;
  right: 25px;
  background-image: url("static/close.png");
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transform: rotate(30deg) scale(0);
  -ms-transform: rotate(30deg) scale(0);
  transform: rotate(30deg) scale(0);
  opacity: 0;
  background-color: #333333;
}

#zipi-chatbox #floatbutton .closed.rotate {
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

#zipi-chatbox .chatframe .header .cross {
  float: right;
  color: #FFF !important;
  font-size: 18px;
  padding: 10px;
  display: none;
}

#zipi-chatbox .chatframe .header .header_title {
  font-family: Arial;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

#zipi-chatbox .chatframe .header .header_subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #90ee90;
  display: inline-block;
  position: absolute;
  top: 19px;
  width: 10px;
  left: 10px;
  height: 10px;
  border-radius: 50%;
  background: #90ee90;
}

#zipi-chatbox .chatframe .frameparent {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  bottom: 0px;
  overflow: hidden !important;
}

.main_chat {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
  border: none;
  position: static;
}

.popup_wrapper {
  height: 80px;
  position: absolute;
  width: 80px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: auto;
}

.iframe_popups {
  max-height: 100vh;
  max-width: 100vw;
  position: absolute;
  bottom: 1px;
  border: none;
  width: 100%;
  z-index: 1;
}

@media only screen and (min-device-width: 568px) {
  #zipi-chatbox {
    top: 30px;
  }

  #zipi-chatbox > div {
    
  }
  #zipi-chatbox #floatbutton .closed{
  	width: 100%;
  	right: 0px;
  }

  #zipi-chatbox #floatbutton {
    position: absolute;
    bottom: 0px;
    width: 50px;
    height: 50px;
    right: 0px;
    opacity: 1;
    z-index: 0;
  }

  #zipi-chatbox #chatflow {
  	display: none;
    height: 330px;
    width: 600px;
    position: relative;
    bottom: -7px;
    right: 30px;
    background: rgba(255,255,255,1);
    overflow: hidden;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  #zipi-chatbox .chatframe {
    width: 100%;
  	height: 100%;
  	background: white;
  	color: black;
    opacity: 1 !important;
  }

  #zipi-chatbox .chatframe .header {
    border-radius: 10px 10px 0px 0px;
  }
}
@media only screen and (max-device-width: 568px) {
  #zipi-chatbox #floatbutton {
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    right: 0px;
    opacity: 1;
    z-index:1;
  }

  #zipi-chatbox #chatflow {
  	display: none;
    position: fixed;
    top: 0px;
    height: 100%;
    right: 0px;
    height: 100px;
    width: 100px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px #333;
    opacity: 1;
    overflow: hidden;
    border-radius: 0px !important;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
  }

  #zipi-chatbox .chatframe {
    height: 100% !important;
    width: 100% !important;
    opacity: 1 !important;
  }

  #zipi-chatbox .chatframe .header .cross {
    float: right;
    margin-top: 18px;
    margin-right: 18px;
    display: block;
    border-radius: 25px;
    background-image: url("static/rupee.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
  }
}